/*nouveau css*/
html {
    background-image: url(../img/desert.jpg)
    width: 800px;
    margin: auto;
    text-align: center;
    justify-content:center;
    text-shadow: 2px 2px;
    color:white;
}
