* {
    box-sizing: border-box;
}

/*nouveau css*/
html {
    background-image: url(../img/desert.jpg);
    width: 800px;
    margin: auto;
    text-align:center;
    color:black;
}

/*section et contenu*/
section, header, footer{
    border: solid 5px green;
    background-color:lightgrey;
}
section *, header *, footer * {
    border: none;
}
section:hover, header:hover, footer:hover {
    background-color:white;
}

/*autre*/
h1 {
    color:blue;
}

h1:hover{
    font-size:2.5rem;
}
img {
    height:200px;
    width:200px;
    border:2px solid lightgreen;
}

/*liens*/
a:hover {
    color:orange;
    font-size:1.2em;
}
a:link {
    color:blue;
}
a:visited {
    color:purple;
}

